<!DOCTYPE html>
<html>
    <head>
        <title>Flask Template Example</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://themesguide.github.io/top-hat/dist/minco/theme.css">
        <style type="text/css">
            .container {
                max-width: 800px;
            }
            .navbar-logo {
            width: 140px;
            }
            h2 {color: blue;}
        </style>
    </head>
    <body>
        {% if g.user %}
        <nav class="navbar navbar-expand-sm navbar-fixed-top bg-dark navbar-dark">
            <div class="container" style="background:transparent; padding-top: 0px; max-width:800px; justify-content:center">
                <div class="row">
                    <ul class="nav navbar-nav pull-sm-left mr-3">
                            <li class="nav-item">
                                <a class="nav-link" href="/exercises" value="Exercises">Exercises</a>
                            </li>
                            </ul>
                    <ul class="nav navbar-nav navbar-logo mx-auto">
                            <li class="nav-item">
                                <a class="navbar-brand" href="/" value="ProgressTracker">ProgressTracker</a>
                            </li>
                            </ul>
                    <ul class="nav navbar-nav pull-sm-right ml-3">
                            <li class="nav-item">
                                <a class="nav-link" href="/logout" value="Logout">Logout</a>
                    </ul>
                </div>
            </div> 
        </nav>
        {% else %}
        <nav class="navbar navbar-expand-sm navbar-fixed-top bg-dark navbar-dark">
            <div class="container" style="background:transparent; padding-top: 0px; max-width:800px; justify-content:center">
                <div class="row">
                    <ul class="nav navbar-nav pull-sm-left mr-3">
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Login</a>
                            </li>
                            </ul>
                    <ul class="nav navbar-nav navbar-logo mx-auto">
                            <li class="nav-item">
                                <a class="navbar-brand" href="/">ProgressTracker</a>
                            </li>
                            </ul>
                    <ul class="nav navbar-nav pull-sm-right ml-3">
                            <li class="nav-item">
                                <a class="nav-link" href="/register">Register</a>
                    </ul> 

                </div>        
            </div>
        </nav>
        {% endif %}
        <div class="container" style="padding-top: 20px; padding-bottom: 20px">

            {% with errors = get_flashed_messages(category_filter=["success_message"]) %}
            {% if errors %}
            <ul>
                {%- for msg in errors %}
                <div class="alert alert-success" id="alert_msg" role="alert"> {{ msg }} </div>
                {% endfor -%}
            </ul>
        </div>
        {% endif %}
        {% endwith %}

        {% with errors = get_flashed_messages(category_filter=["message"]) %}
        {% if errors %}
        <ul>
            {%- for msg in errors %}
            <div class="alert alert-danger" id="alert_msg" role="alert"> {{ msg }} </div>
            {% endfor -%}
        </ul>
    </div>
    {% endif %}
    {% endwith %}
</div>       
<div class="container" style="padding-top: 20px; padding-bottom: 20px;">



    <div class="jumbotron text-center" style="margin-bottom:0; background: none">
        {% block header %}{% endblock %}
    </div>
    <br>
    {% block content %}{% endblock %}
    <br>
    <div class="jumbotron text-center" style="margin-bottom:0;  background: none">
        {% block footer %}{% endblock %}

        {% if g.user %}
        <small class="form-text text-muted">logged in as {{ session["username"] }}</small>
        {% endif %}
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>