{% extends "layout.html" %}

{% block header %}
<h1>Progress Tracker</h1>
{% if g.user %}
<small class="form-text text-muted">Keep track of the sets, reps and weight used in your workouts. You can save your workout numbers below.</small>
{% else %}
<small class="form-text text-muted">Keep track of your workouts</small>
{% endif %}
{% endblock %}

{% block content %}
{% if g.user %}   

{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
<div class="alert-message block-message error">
    <ul>
        {%- for msg in errors %}
        <div class="alert alert-warning" role="alert"> {{ msg }} (Try again) </div>
        {% endfor -%}
    </ul>
</div>
{% endif %}
{% endwith %}

<div class="text-center">
            
    <div class="btn-group btn-group-toggle" data-toggle="buttons-radio">
            
            <label class="btn btn-outline-dark" data-toggle="tooltip" data-placement="top" title="Workouts shown per exercise">
            
            <form action="/" method="get">
                <input type="submit" value='5' name="limit" style="color:#000000;background-color:Transparent;border:none;" autocomplete="off">
                </form>
            </label>
            
        
            <label class="btn btn-outline-dark" data-toggle="tooltip" data-placement="top" title="Workouts shown per exercise">
        
            <form action="/" method="get">
                <input type="submit" value='10' name="limit" style="color:#000000;background-color:Transparent;border:none;" autocomplete="off">
               </form>
            
            </label>
                
                
            <label class="btn btn-outline-dark" data-toggle="tooltip" data-placement="top" title="Workouts shown per exercise">
        
            <form action="/" method="get">
                <input type="submit" value='20' name="limit" style="color:#000000;background-color:Transparent;border:none;" autocomplete="off">
            </form>
            </label>  
                </div>
    </div>
{% for exerciseVariables in trackedExercises %}


            


<div class="col" style="margin-bottom:10px;padding-bottom:10px">
<div class="input-group">

    <h3>{{ exerciseVariables[0][0] }} </h3> 

    <div class="input-group-prepend pl-2" data-toggle="tooltip" data-placement="top" title="Show/Hide">
         <button class="btn rounded-1 btn-light" style="color:#000000;background-color:Transparent;border:none;" type="button" data-toggle="collapse" data-target="#{{exerciseVariables[0][0]}}hide"><i class="fas fa-receipt"></i></button>
    </div>
    <div class="input-group-prepend pl-2" data-toggle="tooltip" data-placement="top" title="New Workout">
    <button class="btn btn-sm btn-primary" style="color:#000000;background-color:Transparent;border:none;" type="button" data-toggle="collapse" data-target="#{{exerciseVariables[0][0]}}new" aria-expanded="false" aria-controls="{{exerciseVariables[0][0]}}">
                <i class="fas fa-dumbbell"></i>
    </button>
    </div>
    
</div>

<div class="collapse" id="{{exerciseVariables[0][0]}}new">
            <div class="card card-body">
                <form action="/workout/save" method="post">
                    <small class="form-text text-muted">Work set</small>
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="data">Sets / Reps / Kg</span>
                        </div>
                        <input type="text" class="form-control" name="sets" id="sets" placeholder="Sets" aria-label="Small" aria-describedby="data" required="true">
                        <input type="text" class="form-control" name="reps" id="reps" placeholder="Reps" aria-label="Small" aria-describedby="data" required="true">
                        <input type="text" class="form-control" name="weight" id="weight" placeholder="Kg" aria-label="Small" aria-describedby="data" required="true">
                    </div>
                    <small class="form-text text-muted">Additional information (max 40 characters)</small>
                    <div class="input-group-prepend">
                        <input type="text" class="form-control" name="info" id="info" placeholder="">
                    </div>
                    <div class="form-group">
                    </div>
                    <input type="hidden" value={{ exerciseVariables[0][0] }} name="exercise">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <input class="btn btn-primary" type="submit" value="Save workout">
                </form>
            </div>
        </div>

    <div class="collapse show" id="{{exerciseVariables[0][0]}}hide">
    
        
        {% if exerciseVariables[0][6] %}
        <div class="card mx-auto">
            <div class="card-body">
                {% for exercise in exerciseVariables %}  
                <ul class="list-group">
                    <li class="list-group-item d-flex flex-row">
                        <div class="mr-auto p-0 text-truncate" style="max-width: 500px;">
                            <span class="font-weight-bold">
                                {{ exercise[1] }} 
                            </span>
                            x 
                            <span class="font-weight-bold">
                                {{ exercise[2] }}
                            </span>
                            <span class="font-weight-light">
                                {% if exercise[3] %}
                                |
                                {{ exercise[3] }} kg
                                {% endif %}
                            </span>      
                            <span class="font-weight-light">
                                {% if exercise[5] %}
                                | {{ exercise[5] }}
                                {% endif %}
                            </span>
                        </div>
                        <div class="p-0">
                            <small class="form-text text-muted">
                                @{{ exercise[4] }} 
                            </small>
                        </div>
                        <div class="p-1">
                            <button class="btn btn-success btn-sm rounded-1" type="button" data-toggle="collapse" data-target="#{{exercise[0]}}edit" aria-controls="{{exercise[6]}}edit" title="Edit"><i class="fa fa-edit"></i></button>
                            <div class="btn-group dropright">
                                <button class="btn btn-danger dropdown-toggle btn-sm rounded-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Delete"><i class="fa fa-trash"></i></button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    <form action="/workout/delete" method="post">
                                        <input type="hidden" value={{ exercise[6] }} name="exercise_variable_id">
                                        <button class="dropdown-item" type="submit">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                    </ul>
                    
                    <div class="collapse" id="{{exercise[0]}}edit">
                        <div class="card card-body">
                            <form action="/workout/edit" method="post">
                                <small class="form-text">Edit workout</small>
                                <small class="form-text text-muted">Work set</small>
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="data">Sets / Reps / Kg</span>
                                    </div>
                                    <input type="text" class="form-control" name="sets" id="sets" value="{{exercise[1]}}" aria-label="Small" aria-describedby="data" required="true">
                                    <input type="text" class="form-control" name="reps" id="reps" value="{{exercise[2]}}" aria-label="Small" aria-describedby="data" required="true">
                                    <input type="text" class="form-control" name="weight" id="weight" value="{{exercise[3]}}" aria-label="Small" aria-describedby="data" required="true">
                                </div>
                                <small class="form-text text-muted">Additional information (max 40 characters)</small>
                                <div class="input-group-prepend">
                                    <input type="text" class="form-control" name="info" id="info" value="{{exercise[5]}}">
                                </div>
                                <input type="hidden" value={{ exercise[6] }} name="exercise_variable_id">
                                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                <input class="btn btn-primary" type="submit" value="Update workout">
                            </form>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
        {% else %}
        {{ exerciseVariables[0][1] }}
        {% endif %}
    </div>
</div>
{% endfor %}
{% else %}
<div class="d-flex justify-content-center">
    <a href="/login">
        <input class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit" value="Login">
    </a>
    <a href="/register">
        <input class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit" value="Register">
    </a>
</div>
{% endif %}
{% endblock %}
{% block footer %}
<h1></h1>
{% endblock %}