{% extends "layoutNotLogged.html" %}
{% block content %}

        <div th:fragment="head">
            <div class="jumbotron text-center" style="margin-bottom:0">
                <h1>asdasdasd</h1>
                <p>Temp</p> 
            </div>
        </div>
        
        <div>
            <div class="container" style="margin-top:30px">
                <div class="mt-sm-3 mb-sm-3 row">
                                    
                </row>
            </div>
        </div>
        <div class="jumbotron text-center" style="margin-bottom:0">
            <p>Footer</p>
        </div>
    </div>
    {% endblock %}


