{% extends "layoutNotLogged.html" %}
{% block content %}


{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert"> {{ message }} </div>
        {% endfor %}
    {% endif %}
{% endwith %}

        <form method="POST" action="/register">
            <p>
                <label for="username" class="sr-only">Username</label>
                <input type="text" th:field="*{username}" id="username" name="username" class="form-control"
                       placeholder="Username" required autofocus/>
                </p>

            <p>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" th:field="*{password}" class="form-control"
                       placeholder="Password" required autofocus/>
            </p>
            
            <input class="btn btn-lg btn-secondary btn-block" type="submit" value="Create new account!"/>
        </form>


        <a href="/">Go back</a>
{% endblock %}